<section class="user-list">
    {{#users}}
        <section class="user-info">
            <img src="{{#GetGravatar email}}{{/GetGravatar}}" />
            <h1>{{ email }}</h1>
            {{#if ../userInfo.username }}
                <div class="follow-container">
                    {{#if alreadyFollowing}}
                        <span class="unfollow btn on" data-id="{{email}}">Unfollow</span>
                        <span class="follow btn" data-id="{{email}}">Follow</span>    
                    {{else}}
                        <span class="unfollow btn" data-id="{{email}}">Unfollow</span>
                        <span class="follow btn on" data-id="{{email}}">Follow</span>
                    {{/if}}
                </div>
            {{/if}}
        </section>
    {{/users}}
</section>