<section class="posts">
    {{#posts}}
        <section class="single-post">
            <section class="post-content">
                <h1>{{ title }}</h1>
                <p>{{ content }}</p>
                {{#if ../userInfo.username }}
                    <span class="likePost" data-postid="{{_id}}">Like?</span>
                {{/if}}
                {{#if likes}}
                    <p class="likes">Likes: {{ likes }}</p>
                {{/if}}
            </section>
            <section class="post-info">
                <h2>{{#FormatDate date}}{{/FormatDate}}</h2>
                <img src="{{#GetGravatar userId}}{{/GetGravatar}}" />
                <p></p>
            </section>
        </section>
    {{else}}
        <p>There are no posts, come back later!</p>
    {{/posts}}
</section>