<section class="posts">
    {{#posts}}
        <section class="post">
            <section class="post-content">
                <h1>{{ title }}</h1>
                <h2>{{ content }}</h2>
                {{#if ../userInfo.username }}
                    {{#unless alreadyLiked}}
                        <span class="likePost" data-postid="{{_id}}">&#128077;</span>
                    {{/unless}}
                {{/if}}
                <p class="likes">Likes: {{ likes }}</p>
            </section>
            <section class="post-info">
                <img src="{{#GetGravatar userId}}{{/GetGravatar}}" />
                <h3>{{#FormatDate date}}{{/FormatDate}}</h3>
            </section>
        </section>
    {{else}}
        <p>There are no posts, come back later!</p>
    {{/posts}}
</section>